@page
@model WebApp.Pages.Diaries.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Diary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Diary.DiaryTypeId" class="control-label"></label>
                <input asp-for="Diary.DiaryTypeId" class="form-control" />
                <span asp-validation-for="Diary.DiaryTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diary.Subject" class="control-label"></label>
                <input asp-for="Diary.Subject" class="form-control" />
                <span asp-validation-for="Diary.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diary.DateTimeBegin" class="control-label"></label>
                <input asp-for="Diary.DateTimeBegin" class="form-control" />
                <span asp-validation-for="Diary.DateTimeBegin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diary.DateTimeEnd" class="control-label"></label>
                <input asp-for="Diary.DateTimeEnd" class="form-control" />
                <span asp-validation-for="Diary.DateTimeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diary.Place" class="control-label"></label>
                <input asp-for="Diary.Place" class="form-control" />
                <span asp-validation-for="Diary.Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
