@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Ссылка на решение <a href="https://github.com/ankud1nov/WebAppRazorTest">WebAppRazorTest</a>.</p>
    <p>Это не работает</p>
    <p><pre>&ltselect asp-for="EmployeeId" asp-items="Model.Employees" /&gt</pre></p>
    <p>Зато это работает<p>
        &ltselect asp-for="EmployeeId" asp-items="@@Model.Employees"&gt&lt/select&gt

</div>
