@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1
</div>
<div class="text-left">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Ссылка на решение <a href="https://github.com/ankud1nov/WebAppRazorTest">WebAppRazorTest</a>.</p>
    <h2>Полезные материалы</h2>
    <h3>WVC and RAzor pages</h3>
    <p><a href="https://docs.microsoft.com/ru-ru/aspnet/core/tutorials/razor-pages/page?view=aspnetcore-5.0&tabs=visual-studio">Стартовый материал для Razor pages</a></p>
    <p><a href="https://docs.microsoft.com/ru-ru/aspnet/core/data/ef-rp/intro?view=aspnetcore-5.0&tabs=visual-studio#database-connection-string">Razor Pages с Entity Framework</a></p>
    <p><a href="https://docs.microsoft.com/ru-ru/ef/core/dbcontext-configuration/">Время существования, настройка и инициализация DbContext</a></p>
    <p>Это не работает если хочешь сделать поле Select</p>
    <p><pre>&ltselect asp-for="EmployeeId" asp-items="Model.Employees" /&gt</pre></p>
    <p>Зато это работает - чудеса<p>
    <p>&ltselect asp-for="EmployeeId" asp-items="@@Model.Employees"&gt&lt/select&gt</p>
    <h3>Docker</h3>
    <p><a href="https://www.jetbrains.com/dotnet/guide/tutorials/docker-dotnet/dotnet-docker-compose/">Docker-compose для чайников jetbrains</a></p>
    <p><a href="https://docs.microsoft.com/ru-ru/dotnet/architecture/microservices/multi-container-microservice-net-applications/multi-container-applications-docker-compose">Определение многоконтейнерного приложения с помощью docker-compose.yml</a></p>
</div>
